<?xml version="1.0"?>
<config>
    <modules>
        <Vishwasnature_Preorder>
            <version>0.0.1</version>
        </Vishwasnature_Preorder>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <preorder>
                    <file>preorder.xml</file>
                </preorder>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <preorder>
                <use>standard</use>
                <args>
                    <module>Vishwasnature_Preorder</module>
                    <frontName>preorder</frontName>
                </args>
            </preorder>
        </routers>
        <events>
            <checkout_cart_product_add_after>  
                <observers>  
                    <check_product_type>  
                        <type>singleton</type>  
                        <class>Vishwasnature_Preorder_Model_Observer</class>    
                        <method>checkProductType</method>            
                    </check_product_type>
                </observers>
            </checkout_cart_product_add_after>
            <!--            <sales_order_place_after>
                <observers>
                    <preorder_order_observer>
                        <type>singleton</type>
                        <class>Vishwasnature_Preorder_Model_Observer</class>
                        <method>setCustomOrderStatus</method>
                    </preorder_order_observer>
                </observers>
            </sales_order_place_after>-->
        </events>
        <layout>
            <updates>
                <preorder>
                    <file>preorder.xml</file>
                </preorder>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>			
            <preorder>
                <class>Vishwasnature_Preorder_Block</class>
            </preorder>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Vishwasnature_Preorder_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <preorder>
                <class>Vishwasnature_Preorder_Model</class>
            </preorder>
        </models>
        <resources>
            <vishwasnature_preorder_setup>
                <setup>
                    <module>Vishwasnature_Preorder</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </vishwasnature_preorder_setup>
        </resources>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <vishwasnature_preorder>
                        <type>singleton</type>
                        <class>Vishwasnature_Preorder_Model_Observer</class>
                        <method>salesQuoteItemSetCustomAttribute</method>
                    </vishwasnature_preorder>
                </observers>
            </sales_quote_item_set_product>
        </events>
        <rewrite>
            <vishwasnature_preorder_index>
                <from><![CDATA[#^/checkout/onepage/#]]></from>
                <to>/preorder/index/</to>
            </vishwasnature_preorder_index>
        </rewrite>
        
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <pre_order/>
                        <pre_order_note/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote_item>
                <pre_order>
                    <to_order_item>*</to_order_item>
                </pre_order>
                <pre_order_note>
                    <to_order_item>*</to_order_item>
                </pre_order_note>
            </sales_convert_quote_item>
            
            <sales_convert_quote>                           
                <pre_order>
                    <to_order>*</to_order>
                </pre_order>
            </sales_convert_quote>
            <sales_convert_order>                                              
                <pre_order>
                    <to_quote>*</to_quote>
                </pre_order>
            </sales_convert_order>
        </fieldsets>
    </global>
</config>
